.main{
    /* width: 80vw; */
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}
.section2 {
    width: 80vw;
    
    margin: auto;
    display: flex;
    justify-content:space-between ;
}

.main .btn{
  
  font-family: 'Poppins';
font-style: normal;
display: none;
width: 90vw;
background-color: white;
margin-left: 1.3rem;
font-weight: 500;
align-items: center;
border: none;
font-size: 1.2em;
line-height: 24px;
width: fit-content;
color: #800080;

}

.section2 .container1 {
  height: 79px;
  width: 153px;
  display: flex;
  flex-direction: column;
}
.section2 .container1 .label{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #800080;
letter-spacing: 1.4px;
}
.section2 .container1 .value{
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.75em;
color: #000000;
border: .1px solid grey;
height: 40px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 7px;

}

.section2 .container2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 145px;
  height: 85px;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(128, 0, 128, 0.15);
  border-radius: 20px;
}
.section2 .container2 .subContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section2 .container2 .item {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #800080;
}
.section2 .container2 .value {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;

  color: #000000;
}




.section3{
  width: 80vw;
  margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.section3 .label{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
/* display: inline; */
/* identical to box height */

color: #800080;
}
.section3 .container{
display: flex;
justify-content: space-between;
height: fit-content;


}

.section4{
  width: 80%;
  margin: auto;
}
.link{
  color:#800080;
  margin-right: 30px;
  text-decoration: none;
}
.active{
  color: rgba(128, 0, 128, 0.25);
  margin-right: 30px;
  text-decoration: none;
}
@media only screen and (max-width: 1052px) {
  
  .section2 {
    width: 88%;
    align-items: baseline;
  }
  .section3{
    width: 88%;
    margin: auto;
    
  }
  .section4{
  /* padding: 15px; */
  width: 89%;

  }
  .section3 .container{
    flex-direction: column;
    row-gap: 10px;
  }
  .main .btn{
    display: flex;
  }
}












