.navbar {
box-sizing: border-box;
width: 100%;
min-width: 344px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section {
  display: flex;
  justify-content: space-evenly;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;

}
.section > span {
  margin-left: 15px;
}
.section > div {
  display: none;
    color:white;
    
  align-self: flex-end;
  padding: 14px;
  padding: 12px 25px;
  background: #800080;
  border-radius: 10px;
  position: relative;
}
.section > p{

   position: absolute;
   right: 15px;
   top:15px;
   transform: rotate(90deg);
   color: white;
    

}

@media only screen and (max-width: 1052px) {
  .section > span {
    display: none;
  }
  .section > div {
    display: block;
  }
}
