.modal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.sample {
  display: flex;
  flex-direction: column;
}
.icon {
  background: #d9d9d940;
  height: 65px;
  width: 65px;
  border-radius: 50%;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-position: center;
}
.question {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}
.ans {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #4d4d4d;
  max-width: 270px;
}
@media only screen and (max-width: 1100px) {
  .modal{
    margin: auto;
    column-gap: 15px;

  }
}

